<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aelpfacilitator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Dialogue.ViewCard"
            android:theme="@style/AppTheme.CustomTheme"/>
        <activity
            android:name=".Dialogue.ViewProperty"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".Control.CheckProfile" />
        <activity
            android:name=".Dialogue.AddCard"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Dialogue.AddProperty"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".Control.CheckGameActions" />
        <activity android:name=".Control.GameActions" />
        <activity android:name=".Control.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>